<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hfut.uml.dao.UserLoginMapper">
<resultMap type="com.hfut.uml.domain.UserLG" id="userLG">
    </resultMap>
<resultMap type="com.hfut.uml.domain.Student" id="student">
    </resultMap>
<resultMap type="com.hfut.uml.domain.Teacher" id="teacher">
    </resultMap>
<resultMap type="com.hfut.uml.domain.Instructor" id="instructor">
    </resultMap>

<select id="checkStudent" parameterType="userLG" resultMap="student">
	SELECT * from student where sno = #{username} and password = #{password}
</select>
<select id="checkTeacher" parameterType="userLG" resultMap="teacher">
	SELECT * from teacher where tno = #{username} and password = #{password}
</select>
<select id="checkInstructor" parameterType="userLG" resultMap="instructor">
	SELECT * from counsellor where counno = #{username} and password = #{password}
</select>

</mapper>